<div class="row">
  <div class="col-6">
    <label for="server-name">Server Name</label>
    <!-- Two-way bind manually -->
    <!-- <input
      type="text"
      name="server-name"
      id="server-name"
      class="form-control"
      [value]="serverName"
      (input)="onInputServerName($event)"
    /> -->
    <!-- Two-way binding by angular core -->
    <input
      type="text"
      name="server-name"
      id="server-name"
      class="form-control mt-2"
      [(ngModel)]="serverName"
    />

    <!-- <p [innerText]="test"></p> -->
    <p *ngIf="isServerCreated; else noServerCreated">
      Server was created. The server name is {{ serverName }}
    </p>
    <!-- <p *ngIf="!isServerCreated">No server was created.</p> -->
    <!-- <ng-template [ngIf]="!isServerCreated">
      <p>No server was created</p>
    </ng-template> -->
    <ng-template #noServerCreated>
      <p>No server created.</p>
    </ng-template>
  </div>
  <div class="col-6 mt-2">
    <button
      type="button"
      class="btn btn-primary mt-4"
      (click)="onCreateServer()"
    >
      Add server
    </button>
  </div>
</div>

<div class="row">
  <div class="col-6 mt-2">
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control mt-2"
      [(ngModel)]="userName"
    />
    <p class="mt-2">
      {{
        userName.length ? "Your username is " + userName : "Username not found"
      }}
    </p>
  </div>
  <div class="col-6 mt-3">
    <button
      class="btn btn-primary py-auto mt-4"
      [disabled]="!userName.length"
      (click)="onResetUserName()"
    >
      Reset username
    </button>
  </div>
</div>
<app-server *ngFor="let server of servers"></app-server>
<button class="btn btn-primary mt-3" (click)="onTogglePasswordList()">
  Display Details
</button>
<p *ngIf="isPasswordListEnabled" class="mt-2">Secret password = Tuna</p>
<p
  *ngFor="let password of passwords"
  class="mt-2"
  [ngStyle]="{ 'background-color': password >= 5 ? 'blue' : '' }"
  [ngClass]="{ 'text-white': password >= 5 }"
>
  {{ password }}
</p>
