<div class="container mt-4">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-gray">I'm in app component</h3>
      <hr />
      <button
        type="button"
        class="btn btn-success me-2"
        data-bs-toggle="modal"
        data-bs-target="#warningAlert"
      >
        Trigger warning alert
      </button>
      <button
        type="button"
        class="btn btn-warning"
        data-bs-toggle="modal"
        data-bs-target="#successAlert"
      >
        Trigger success alert
      </button>
      <!-- <app-servers></app-servers> -->
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
</div>
