<div
  class="modal fade"
  id="warningAlert"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div
    class="
      modal-dialog modal-confirm modal-dialog-centered modal-dialog-scrollable
    "
  >
    <div class="modal-content">
      <div class="modal-header modal-header__warning justify-content-center">
        <div class="icon-box">
          <span class="material-icons"> warning </span>
        </div>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          &times;
        </button>
      </div>
      <div class="modal-body text-center">
        <h4>Ops! There is a problem.</h4>
        <button class="btn btn-success" data-dismiss="modal">
          <span>Review</span> <i class="material-icons">&#xE645;</i>
        </button>
      </div>
    </div>
  </div>
</div>
